<nx-modal-container
  [hasFooterSeparator]="false"
  (closeButtonClicked)="cancelClicked.emit()"
  [headerTpl]="headerTpl"
  [bodyTpl]="bodyTpl"
  [footerTpl]="footerTpl"
  [alertTpl]="alertTpl"
>
  <ng-template #headerTpl>
    <div class="nx-modal-title">CONFIGURE</div>
    <div class="nx-modal-subtitle">{{modalSubtitle}}</div>
    <button class="nx-modal-close-btn" (click)="cancelClicked.emit()" type="button"></button>
  </ng-template>

  <ng-template #bodyTpl>
    <form [formGroup]="formGroup">
      <nx-loading
        [isLoading]="isLoading"
        [showContent]="showContent"
        [contentTemplate]="contentTemplate"
      >
        <ng-template #contentTemplate>
          <nx-section titleText="SNMP Credentials" [hasHeaderSeparator]="false">
            <nx-radio-group
              *ngIf="isMultipleDevices && initialized"
              [ngModel]="credentialTypeRadioGroupModel"
              (ngModelChange)="onRadioGroupChange($event)"
              [ngModelOptions]="{standalone: true}"
              [radioGroup]="radioGroup[RADIO_GROUP.DEFAULT]"
              [hasBackground]="true"
            ></nx-radio-group>

            <nx-radio-group
              [ngModel]="credentialTypeRadioGroupModel"
              (ngModelChange)="onRadioGroupChange($event)"
              [ngModelOptions]="{standalone: true}"
              [radioGroup]="radioGroup[RADIO_GROUP.PROFILE]"
              [contentTpl]="profileForm"
              [hideContent]="credentialTypeRadioGroupModel !== DeviceCredentialsTypeEnum.PROFILE"
              [hasBackground]="true"
            ></nx-radio-group>

            <ng-template #profileForm>
              <form [formGroup]="profileFormGroup">
                <nx-select
                  [displayModel]="profileSelectModel"
                  [options]="profileSelectOptions"
                  [formControlName]="PROFILE_CONTROL_KEY"
                ></nx-select>
              </form>
            </ng-template>

            <nx-radio-group
              [ngModel]="credentialTypeRadioGroupModel"
              (ngModelChange)="onRadioGroupChange($event)"
              [ngModelOptions]="{standalone: true}"
              [radioGroup]="radioGroup[RADIO_GROUP.SETTINGS]"
              [contentTpl]="settingsForm"
              [hideContent]="credentialTypeRadioGroupModel !== DeviceCredentialsTypeEnum.SETTINGS"
              [hasBackground]="true"
            ></nx-radio-group>

            <ng-template #settingsForm>
              <form [formGroup]="settingsFormGroup">
                <nx-snmp-credentials
                  [formControlName]="SETTINGS_CONTROL_KEY"
                ></nx-snmp-credentials>
              </form>
            </ng-template>

          </nx-section>
        </ng-template>
      </nx-loading>
    </form>
  </ng-template>

  <ng-template #footerTpl>
    <div nxButtonList>
      <nx-button (btnClick)="cancelClicked.emit()">Cancel</nx-button>
      <nx-button
        [isSubmit]="true"
        [isPrimary]="true"
        [isDisabled]="credentialTypeRadioGroupModel === DeviceCredentialsTypeEnum.DEFAULT || formGroup.pristine || formGroup.invalid"
        (btnClick)="onSubmitClick()"
      >
        Save
      </nx-button>
    </div>
  </ng-template>

  <ng-template #alertTpl>
    <nx-simple-alert [alert]="error" *ngIf="error"></nx-simple-alert>
  </ng-template>
</nx-modal-container>
