<form [formGroup]="snmpFormGroup">
  <div class="row">
    <nx-select
      class="col col_w-50"
      [displayModel]="snmpVersionSelectModel"
      [options]="snmpVersionSelectOptions"
      [formControlName]="SNMP_VERSION_CONTROL_KEY"
    ></nx-select>

    <nx-simple-input
      class="col col_w-50"
      [inputModel]="portInputModel"
      [formControlName]="PORT_CONTROL_KEY"
    ></nx-simple-input>
  </div>

  <form class="row row_single" [formGroup]="snmpVersion2FormGroup" *ngIf="snmpVersion === snmpVersionsEnum.V2C">
    <nx-simple-input
      [inputModel]="snmpCommunityInputModel"
      [formControlName]="SNMP_COMMUNITY_CONTROL_KEY"
    ></nx-simple-input>
  </form>

  <form class="row row_single" [formGroup]="snmpVersion3FormGroup" *ngIf="snmpVersion === snmpVersionsEnum.V3">
    <nx-section titleText="AUTHENTICATION" [hasHeaderSeparator]="true">
      <nx-simple-input
        class="row row_single"
        [inputModel]="snmpSecurityNameInputModel"
        [formControlName]="SNMP_SECURITY_NAME_CONTROL_KEY"
      ></nx-simple-input>

      <div class="row">
        <nx-select
          class="col col_w-50"
          [displayModel]="snmpAuthProtocolSelectModel"
          [options]="snmpAuthProtocolSelectOptions"
          [formControlName]="SNMP_AUTH_PROROCOL_CONTROL_KEY"
        ></nx-select>

        <nx-simple-input
          class="col col_w-50"
          [inputModel]="snmpAuthPassPhraseInputModel"
          [formControlName]="SNMP_AUTH_PASS_PHRASE_CONTROL_KEY"
        ></nx-simple-input>
      </div>
    </nx-section>

    <nx-section titleText="PRIVACY" [hasHeaderSeparator]="true">
      <div class="row">
        <nx-select
          class="col col_w-50"
          [displayModel]="snmpPrivProtocolSelectModel"
          [options]="snmpPrivProtocolSelectOptions"
          [formControlName]="SNMP_PRIV_PROTOCOL_CONTROL_KEY"
        ></nx-select>

        <nx-simple-input
          class="col col_w-50"
          [inputModel]="snmpPrivPassPhraseInputModel"
          [formControlName]="SNMP_PRIV_PASS_PHRASE_CONTROL_KEY"
        ></nx-simple-input>
      </div>
    </nx-section>
  </form>
</form>
