<nx-loading
  [isLoading]="isLoading"
  [error]="error"
  [showContent]="true"
  [contentTemplate]="content">
  <ng-template #content>
    <form [formGroup]="formGroup">
      <nx-card size="md" headerTitle="Password" [body]="cardBody" [footer]="cardFooter">
        <ng-template #cardBody>
          <div class="row">
            <div class="col col_w-50">
              <nx-section titleText="Password Policy">
                <div class="row">
                  <nx-toggle-input
                    class="col col_w-100"
                    [formControlName]="passwordLifetimeKey"
                    [inputModel]="formFields[passwordLifetimeKey]">
                  </nx-toggle-input>

                  <nx-toggle-input
                    class="col col_w-100"
                    [formControlName]="passwordChangeRestrictionPeriodKey"
                    [inputModel]="formFields[passwordChangeRestrictionPeriodKey]">
                  </nx-toggle-input>

                  <nx-toggle-input
                    class="col col_w-100"
                    [formControlName]="maxStoredPreviousPasswordsKey"
                    [inputModel]="formFields[maxStoredPreviousPasswordsKey]">
                  </nx-toggle-input>
                </div>
              </nx-section>
            </div>
            <div class="col col_w-50">
              <nx-section titleText="Password Restriction">
                <div class="row">
                  <nx-simple-input
                    class="col col_w-100"
                    [formControlName]="minimumRequiredLengthKey"
                    [inputModel]="formFields[minimumRequiredLengthKey]">
                  </nx-simple-input>

                  <nx-toggle-input
                    class="col col_w-100"
                    [formControlName]="requiredUpperCaseKey"
                    [inputModel]="formFields[requiredUpperCaseKey]">
                  </nx-toggle-input>

                  <nx-toggle-input
                    class="col col_w-100"
                    [formControlName]="requiredLowerCaseKey"
                    [inputModel]="formFields[requiredLowerCaseKey]">
                  </nx-toggle-input>

                  <nx-toggle-input
                    class="col col_w-100"
                    [formControlName]="requiredNumericKey"
                    [inputModel]="formFields[requiredNumericKey]">
                  </nx-toggle-input>

                  <nx-toggle-input
                    class="col col_w-100"
                    [formControlName]="requiredNonAlphaNumericKey"
                    [inputModel]="formFields[requiredNonAlphaNumericKey]">
                  </nx-toggle-input>
                </div>
              </nx-section>
            </div>
          </div>
        </ng-template>

        <ng-template #cardFooter>
          <div nxButtonList class="nx-card-footer-buttons">
            <nx-button
              [isPrimary]="true"
              [isDisabled]="isLoading || formGroup.invalid || formGroup.pristine"
              (btnClick)="submitChanges()">
              Apply
            </nx-button>
          </div>
        </ng-template>
      </nx-card>
    </form>
  </ng-template>
</nx-loading>
