<nx-form-field
  *nxFormFieldControl="let controller from control errorOverrides inputModel.errorMessageOverrides validateOnInit validateOnInit"
  [label]="inputModel.label"
  [prefix]="inputModel.prefix"
  [postfix]="inputModel.postfix"
  [hintMessage]="inputModel.hintMessage"
  [isValid]="controller.isValid"
  [isInvalid]="controller.isInvalid"
  [isRequired]="controller.isRequired"
  [isDisabled]="controller.isDisabled"
  [isTouched]="controller.isTouched"
  [errorMessage]="controller.errorMessage"
  [headerAdditionalElements]="headerAdditionalElements"
>
  <ng-template>
    <input
      [formControl]="inputControl"
      class="nx-form-field-input"
      (blur)="onTouch()"
      [placeholder]="inputModel.placeholder || inputModel.label || ''"
      [type]="inputModel.type"/>
    <ng-template *ngTemplateOutlet="bodyAdditionalElements || null"></ng-template>
  </ng-template>
</nx-form-field>


