<div class="nx-grid-action-bar">
  <nx-filter
    class="nx-grid-action-bar__filter"
    [formControl]='formControl'
    [filterOptions]="filterOptions"
    [showApplyButton]="true"
  ></nx-filter>

  <div class="nx-grid-action-bar__secondary-actions">
    <nx-table-string-filter
      (searchTermChange)="globalSearchTermChanged.emit($event)"
    ></nx-table-string-filter>
  </div>
</div>

<nx-grid
  [data]="gridData"
  [columns]="columns"
  [fullHeight]="false"
  [highlightIds]="highlightIds"
  [statusBarData]="statusBarData"
  (columnFilterChanged)="columnFilterChanged.emit($event)"
  (columnSortChanged)="columnSortChanged.emit($event)">
</nx-grid>
